nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    box-sizing: border-box;
    padding: 25px 65px;
    box-shadow: 0 5px 6px -2px rgb(231, 224, 224);
    background-color: white;
}

.nav-right {
    display: flex;
    font-family: 'Kids Club', sans-serif;
    /* padding-right: 10px; */
    /* justify-content: space-around; */
}

.nav-home-redirect {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-logo {
    font-family: 'Kids Club', sans-serif;
    color: rgb(255, 56, 92);
    font-size: 45px;
}

.search-div {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.search-input {
    width: 100%;
    height: 48px;
    padding-left: 18px;
    display: flex;
    border-radius: 40px;
    border: 1px solid rgb(231, 224, 224);
}

.search-results {
    z-index: 3;
    background-color: white;
    overflow-y: auto;
    max-height: 200px;
    position: relative;
    display: inline-block;
    /* margin-top: 50px; */
}

.search-each-result {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.search-res-img {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.search-parent {
    display: flex;
    flex-direction: column;
}

.create-host {
    margin-right: 10px;
    cursor: pointer;

}

.create-host-parent {
    display: flex;
    align-items: center;
}
